/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

/config/master.key
/config/database.yml
/test/*

tmp/
test/
config/credentials.yml.enc
log/development.log

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/application.yml

.env
