<div class="col-12 col-md-5 m-2 col-lg-2 rev">
  <%= link_to relevant_tour do %>
    <div class="rev-tour rounded-3 d-flex flex-column">
      <h5 class="rev-name">
        <%= relevant_tour.tour_name %>
      </h5>
      <div class="d-flex flex-column gap-2">
        <span class="rev-dur">
          <b><%= t "tours.details.duration" %></b>
          <%= pluralize relevant_tour.day_duration, t("tours.day", count: relevant_tour.day_duration) %>
        </span>
      </div>
    </div>
  <% end %>
</div>
