body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.app-logo {
  img {
    height: 50px;
  }
}

.navbar {
  background: linear-gradient(to bottom, #c7ddf0, #f6f6f8dc);

  &-btn {
    box-shadow: inset 0 0 0 0 #54b3d6;
    margin: 0 -.25rem;
    padding: 10px;
    border-radius: 20px;
    color: #7683f7;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: inset 150px 20px 0 20px #54b3d6;
      color: #fff;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  &-right {
    margin-right: 20px;
    display: flex;
    gap: 20px;
  }

  &-dropdown {
    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }
  }

  &-locale {
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  &-en {
    a {
      box-shadow: inset 0 0 0 0 #2e7aec;
      color: #2e7aec;
      margin: 0 -.25rem;
      padding: 10px;
      border-radius: 20px;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

      &:hover {
        box-shadow: inset 150px 20px 20px 20px #2e7aec;
        color: #fff;
      }
    }
  }

  &-vi {
    margin-left: 15px;

    a {
      box-shadow: inset 0 0 0 0 #e23c30;
      color: #e23c30;
      margin: 0 -.25rem;
      padding: 10px;
      border-radius: 20px;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

      &:hover {
        box-shadow: inset 150px 20px 20px 20px #e23c30;
        color: #fff;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  align-items: center;
  background: linear-gradient(to top, #c7ddf0, #f6f6f8dc);

  &-left {
    margin-left: 20px;
  }

  &-right {
    margin-right: 20px;
  }
}

.dropdown {
  cursor: pointer;

  &-active {
    display: block;
    right: 0;
    top: 130%;
  }

  &-menu {
    background: linear-gradient(to bottom left, #bcd6ec, #d6d6f5);
    max-height: 295px;
    overflow-y: auto;
  }
}

.section {
  display: flex;
  gap: 20px;
}

.home {
  width: 100%;

  &-section {
    margin-top: 20px;
    gap: 20px;

    &-item {
      background-color: #c7ddf0;
      color: #1a2499;
      height: 150px;
      transition: all 1s;
      position: relative;
      border-radius: 20px;
      padding: 0 40px;

      h4 {
        color: #0164c0;
        font-weight: 600;
      }

      &:after,
      &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
      }

      &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid #1671e7;
        border-left: 5px solid #4ab4f1;
      }

      &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid #1671e7;
        border-right: 5px solid #4ab4f1;
      }

      &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,
        &:after {

          width: 100%;
          height: 100%;
          // border-color:white;
        }
      }
    }
  }
}

.black-text {
  color: #000;
}

.tours {
  .btn {
    background: linear-gradient(to right, #0b45b1 50%, #3d7bf0 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    width: fit-content;
    transition: all 0.5s ease-out;

    &:hover {
      background-position: left bottom;
    }
  }

  &-title {
    font-size: 2.25rem;
  }

  &-page {
    display: flex;
    gap: 20px;
  }

  &-container {
    flex: 2;
  }

  &-subtitle {
    font-size: 1.5rem;
    color: #666;
  }

  &-search {
    display: none;

    &.active {
      display: flex;
      flex: 1;
      justify-content: center;

      .tours-search-form {
        width: 100%;

        .row {
          margin-bottom: 8px;
          justify-content: center;
        }

        select {
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 8px 4px;
          background-color: #fff;
          color: #666;
        }
      }
    }
  }

  &-item {
    margin-top: 20px;

    &-container {
      width: 80%;
      background-color: #e3f0f5;
      min-height: 140px;
      transition: all 1s;
      position: relative;
      border-radius: 20px;

      h4 {
        color: #0164c0;
        font-weight: 600;
      }

      &:after,
      &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
      }

      &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid #1671e7;
        border-left: 5px solid #4ab4f1;
      }

      &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid #1671e7;
        border-right: 5px solid #4ab4f1;
      }

      &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,
        &:after {

          width: 100%;
          height: 100%;
          // border-color:white;
        }
      }
    }

    &-first {
      display: flex;
      color: #1d21f0;
      flex-direction: column;
    }

    &-name {
      color: #000;
      font-size: 1.3rem;
    }

    &-address {
      font-size: 1rem;
      color: #666;
      margin-left: 10px;
    }

    &-second {
      display: flex;
      color: #0b45b1;
      font-weight: bold;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

.btn {
  width: fit-content;
}

.pagy {
  justify-content: center;
  gap: 20px;

  a {
    padding: 4px 10px;
    background-color: #ddd;
    cursor: pointer;
  }
}

.btn {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  background-color: rgb(1, 100, 192);
  color: #fff;

  &:hover {
    background-color: rgb(181, 216, 248);
    color: #000;
  }
}

.tour {
  &-tag {
    background-color: rgb(108, 183, 233);
    padding: 4px;
    width: fit-content;
  }
}

.rev {
  width: 22%;

  &-tour {
    width: 100%;
    min-height: 120px;
    border: 1px solid #ccc;
    box-shadow: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-name {
    color: #0b76ce;
    font-weight: bold;
  }

  &-dur {
    color: #39a2f8;
  }
}


.td-pointer:hover {
  cursor: cursor;
}

.image-box {
  display: flex;
  align-items: center;

  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-inner {
      height: 300px;
      width: 300px;
      display: flex;
      align-items: center;

      &-item {
        display: none;
      }

      .active {
        display: flex;
        justify-content: center;
      }
    }

    &-control {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }

    &-btn {
      background: #eee;
      border: 0.5px solid #ccc;
      border-radius: 8px;
      padding: 8px 10px;
    }
  }
}

.choose-voucher {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  &-item {
    box-shadow: 1.2px 1px #ccccccd0;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #ccccccd0;
    }

    &-first {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-icon {
      color: red;
      font-size: 1.5rem;
    }

    &-min {
      font-size: 0.9rem;
    }

    &-expiry {
      font-size: 0.8rem;
      color: #666;
    }
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.booking-details {
  &-left {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px #ccccccd0;
  }

  &-title {
    padding: 20px 0;
  }

  &-right {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px #ccccccd0;
    height: fit-content;
  }

  &-total {
    color: rgb(124, 124, 6);
    font-weight: bold;
  }

  p {
    &:hover {
      background-color: #ede;
    }
  }
}

.booking-form {
  background-color: #eee;
  padding: 20px;
}

.book {
  background-color: #e2f9fc;
  min-height: 180px;
  color: #1a2499;
  transition: all 1s;
  position: relative;
  border-radius: 4px;
  padding: 4px 8px;

  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #1671e7;
    border-left: 5px solid #4ab4f1;
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #1671e7;
    border-right: 5px solid #4ab4f1;
  }

  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,
    &:after {

      width: 100%;
      height: 100%;
      // border-color:white;
    }
  }

  &-tour {
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &-guests, &-label {
    color: #666;
  }

  &-status, &-price, &-create {
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  .home {
    &-section {
      flex-direction: column;
      align-items: center;
    }
  }

  .booking-status {
    flex-direction: column;
  }
}

@media screen and (max-width: 1023px) {
  .tours {
    &-page {
      display: flex;
      flex-direction: column;
    }
  }
}
