a {
  text-decoration: none;
}

.navbar {
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    margin-left: 20px;
  }

  &-right {
    margin-right: 20px;
    display: flex;
    gap: 20px;
  }

  &-dropdown {
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }

  &-locale {
    padding-left: 30px;

    a {
      color: #999;
      padding-left: 15px;

      &:hover {
        color: #333;
      }
    }
  }
}

.message {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/1bb1e554915695.596ef811f402e.png");
  height: 400px;
  align-content: center;

  &-welcome {
    font-size: 2.5rem;
    width: fit-content;
    background-color: #eee;
  }
}

.dropdown {
  cursor: pointer;
  &-active {
    display: block;
    right: 0;
    top: 130%;
  }
}

.section {
  display: flex;
  gap: 20px;
}

.home-section {
  &-item {
    span {
      font-size: 1.5rem;
    }
  }
}

.tours {
  &-title {
    font-size: 2.25rem;
  }

  &-subtitle {
    font-size: 1.5rem;
    color: #666;
  }

  &-item {
    margin-top: 20px;

    &-container {
      width: 80%;
      height: 140px;
    }

    &-first {
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-size: 1.25rem;
    }

    &-address {
      font-size: 1rem;
      color: #666;
      margin-left: 10px;
    }

    &-second {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

.pagy {
  justify-content: center;
  gap: 20px;

  a {
    padding: 4px 10px;
    background-color: #ddd;
    cursor: pointer;
  }
}

.btn {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  background-color: rgb(1, 100, 192);
  color: #fff;

  &:hover {
    background-color: rgb(181, 216, 248);
    color: #000;
  }
}

.tour {
  &-tag {
    background-color: rgb(108, 183, 233);
    padding: 4px;
    width: fit-content;
  }
}

.rev {
  height: 120px;
  border: 1px solid #ccc;
  box-shadow: #eee;
}
