<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow py-1">
  <%= link_to "Sun Asterisk" , admin_path, class:"navbar-brand col-md-3 col-lg-2 me-0 px-3" %>
    <input class="form-control mx-5" type="text" placeholder=<%=t "search" %> aria-label="Search">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav f-flex">
      <div class="nav-item text-nowrap">
        <% if current_user.present? %>
          <%= button_to t("logout"), logout_path, method: :delete, class: "nav-link px-3" %>
            <% end%>
      </div>
    </div>
</header>
