<h1 class="h2"><%= :title%></h1>
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group me-2">
    <button type="button" class="btn btn-sm btn-outline-secondary"><%= t "share" %></button>
    <button type="button" class="btn btn-sm btn-outline-secondary"><%= t "export" %></button>
  </div>
  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
    <span data-feather="calendar"></span>
    <%= t "this_week" %>
  </button>
</div>
